<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/admin.css">
    @RenderSection("css", false)
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <a href="/"><img src="/img/kissclipart-materials-science-vector-graphics-computer-icons-c-4750c77947c7e564.png"></a>
        </div>
        <div class="hisseler">
            <ul>
                <a href="/Admin/Kurslar"><li>Kurslar</li></a>
                <a href="/Admin/KateqoriyaElaveEt"><li>Kateqoriya</li></a>
                <a href="/Admin/AdminElaqe"><li>Elaqe</li></a>
            </ul>
        </div>
    </nav>
    <main>
        <div class="saghisse">
            @RenderBody()
        </div>
    </main>
    <script src="~/js/admin.js"></script>
</body>

</html>