<footer>
    <div class="fsol">
        <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
            <li>Lorem, ipsum dolor.</li>
            <li>Lorem ipsum dolor sit.</li>
        </ul>
    </div>
    <div class="fsag">
        <p>Bizi sosial mediada izlə</p>
        <div class="iconlar">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
        </div>
    </div>
</footer>