<nav class="navbar">
    <a href="/"><img src="/img/kissclipart-materials-science-vector-graphics-computer-icons-c-4750c77947c7e564.png"></a>
    <div>
        <ul>
            <li><a href="/">Əsas səhifə</a></li>
            <li class="Haqqimizda"><a href="/Home/Haqqimizda">Haqqımızda</a></li>
            <li class="Kurslarimiz"><a href="/Home/Kurslarimiz">Kurslarımız</a></li>
            <li class="Elaqe"><a href="/Home/Elaqe">Əlaqə</a></li>
            <li><a href="/Home/Gorus">Görüş təyin et</a></li>
        </ul>        
    </div>
</nav>
