

@model Kurslar

<div class="etrafli">
    <div class="etrafli1">
        <img src="/img/@Model.KursSekil">
        <div class="etrafli2">
            <h1>@Model.KursAd</h1>
            <p>@Model.KursHaqqinda</p>
        </div>
    </div>
</div>
