@section css{
    <link rel="stylesheet" href="/css/kurselaveet.css">
}


<div class="kursadd">
    <h3>Əlaqə</h3>
    <form class="kursadd1" action="/Admin/ElaqeElaveEt" method="post">
        <input class="inpt" type="text" placeholder="Ünvan" name="unvan">
        <input class="inpt" type="text" placeholder="İş saatı" name="saat">
        <input class="inpt" type="text" placeholder="Nömrə" name="nomre">
        <button>Daxil et</button>
    </form>
</div>