@section css{
    <link rel="stylesheet" href="/css/kateqoriyaelaveet.css">
}


<section class="kursadd">
    <h3>Yeni Kateqoriya Əlavə Et</h3>
    <form class="kursadd1" action="/Admin/KateqoriyaElaveEt" method="post">
        <input type="text" placeholder="Kateqoriya" name="KateqoriyaAd">
        <button>Daxil et</button>
    </form>
</section>

