@section css{
    <link rel="stylesheet" href="/css/haqqimizda.css">
}

<section class="haqqimizda">
    <div class="basliq">
        <h1>Hardan hara</h1>
    </div>
    <div style="margin-top: 50px;" class="haqqimizda1">
        <div class="haqqimizdayazi">
            <h1>2001-2006</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore quisquam fugiat nostrum cumque dolorem autem doloribus officia pariatur tenetur maxime!</p>
        </div>
        <div class="haqqimizdasekil">
            <div class="haqqimizdasekil1">
                <img src="https://startbootstrap.github.io/startbootstrap-agency/assets/img/about/2.jpg">
            </div>
        </div>
    </div>

    <div class="haqqimizda1">
        <div class="haqqimizdayazi">
            <h1>2006-2011</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore quisquam fugiat nostrum cumque dolorem autem doloribus officia pariatur tenetur maxime!</p>
        </div>
        <div class="haqqimizdasekil">
            <div class="haqqimizdasekil1">
                <img src="https://content.techgig.com/thumb/msid-77959662,width-860,resizemode-4/7-New-programming-languages-for-developers-to-learn-in-2020.jpg?77507">
            </div>
        </div>
    </div>

    <div class="haqqimizda1">
        <div class="haqqimizdayazi">
            <h1>2011-2016</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore quisquam fugiat nostrum cumque dolorem autem doloribus officia pariatur tenetur maxime!</p>
        </div>
        <div class="haqqimizdasekil">
            <div class="haqqimizdasekil1">
                <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--ZmPcIbAW--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://dzone.com/storage/temp/12334613-971.jpg">
            </div>
        </div>
    </div>

    <div class="haqqimizda1">
        <div class="haqqimizdayazi">
            <h1>2016-2022</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore quisquam fugiat nostrum cumque dolorem autem doloribus officia pariatur tenetur maxime!</p>
        </div>
        <div class="haqqimizdasekil">
            <div class="haqqimizdasekil1">
                <img src="https://cdn6.f-cdn.com/files/download/153657457/gettyimage.jpg">
            </div>
        </div>
    </div>
</section>
<section class="haqqimizda2">
    <div class="haqqimizda21">
        <div class="haqqimizda2img">
            <img src="https://res.cloudinary.com/grand-canyon-university/image/fetch/w_724,h_483,c_fill,g_faces/https%3A%2F%2Fwww.gcu.edu%2Fsites%2Fdefault%2Ffiles%2F2020-09%2Fprogramming.jpg">
        </div>
        <div class="haqqimizda2txt">
            <h1>Lorem Lorem</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ipsa laboriosam dolorum nobis perspiciatis atque, voluptas dolor quis minima et cupiditate consequuntur nulla tempora rerum sunt! Facere aliquam, aut tenetur mollitia eius consequuntur hic porro quaerat commodi veniam minima inventore omnis fugiat amet assumenda dolorum! Deleniti magnam possimus ab esse quaerat voluptate error, debitis in ratione distinctio. Totam sunt, modi incidunt laborum necessitatibus quo deserunt odio quam molestias minus quis eum consequuntur architecto. Deleniti modi dignissimos assumenda, sunt ipsa praesentium.</p>
        </div>
    </div>
</section>