@section css{ 
    <link rel="stylesheet" href="/css/esas.css">
}

    <section class="orta">
        <video autoplay muted loop src="/img/3c7cdafd4da3ce04052a1b29f3a9fc0c.mp4"></video>
        <div class="orta1">
            <h1>Bizimlə istədiyin sahədə mütəxəssis ol!</h1>
            <a href="#altorta"><button>Əlavə məlumat</button></a>
        </div>
    </section>
    <section id="altorta">
        <div class="altorta1">
            <div class="altortasol">
                <img src="https://assets.entrepreneur.com/content/3x2/2000/20180612145514-GettyImages-522517479.jpeg">
            </div>

            <div class="altortasag">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus omnis aspernatur excepturi tenetur asperiores facilis incidunt ducimus, modi, enim, necessitatibus est? Eveniet dignissimos quidem laboriosam quia minima exercitationem at reiciendis?</p>
            </div>
        </div>
        <div class="altorta1">
            <div class="altortasol">
                <img src="https://www.incimages.com/uploaded_files/image/1920x1080/getty_499147276_329712.jpg">
            </div>
            <div class="altortasag">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus omnis aspernatur excepturi tenetur asperiores facilis inc ducimus, modi, enim, necessitatibus est? Eveniet dignissimos quidem laboriosam quia minima exercitationem at reiciendis?</p>
            </div>
        </div>
        <div class="altorta1">
            <div class="altortasol">
                <img src="https://www.rismedia.com/wp-content/uploads/2018/10/work_together_927720230.jpg">
            </div>

            <div class="altortasag">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus omnis aspernatur excepturi tenetur asperiores facilis incidunt ducimus, modi, enim, necessitatibus est? Eveniet dignissimos quidem laboriosam quia minima exercitationem at reiciendis?</p>
            </div>
        </div>
    </section>
